@import '/src/elements.scss';

.shoping-cart__section {
    max-width: 1600px;
    margin-bottom: 50px;
    width: 300px;
    @include mobile {
        width: 600px;
        margin-bottom: 80px;
    }
    @include tablet { 
        width: 960px;
    }
    @include desktop {
        width: 1200px;
        margin-bottom: 100px;
    }
}

.shoping-cart__wrapp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shoping-cart__title{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: 20px;
    .text15 {
        opacity: 1;
        color: $primary-color;
        margin: 0;
    }
}

.cart-wrapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-about__wrapp{
    display: flex;
    flex-direction: column;
    width: 100%;
    .cart_photo {
        width: 100%;
    }
    .description-wrapp {
        .description-wrapp__title {
            margin: 0;
            margin-bottom: 14px;
        }
        .item__price {
            margin: 0;
            opacity: 0.5;
            margin-bottom: 16px;
        }
        .text--main {
            margin: 0;
            margin-bottom: 16px;
            color: $primary-color;
        }
        .item__title {
            margin: 0;
            margin-bottom: 12px;
            @include tablet {
                margin-bottom: 20px;
            }
        }
        .select-size {
            display: block;
            margin-bottom: 41px;
            text-align: center;
            width: 98px;
            height: 42px;
            @include mobile {
                margin-bottom: 40px;
            }
            @include tablet {
                margin-bottom: 50px;
            }
            @include desktop {
                margin-bottom: 60px;
            }
        }
        .btn {
            width: 300px;
            height: 60px;
            margin-bottom: 16px;
            @include mobile {
                width: 280px;
                height: 62px;
                margin-bottom: 20px;
            }
            @include tablet {
                width: 260px;
                height: 64px;
            }
            @include desktop {
                margin-bottom: 30px;
            }
        }
        .cart-social__wrapp {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            .link {
                opacity: 0.5;
            }
            .link:first-child {
                margin-right: 28px;
            }
        }
    }
    .secondary-img__wrapp {
        border: 1px solid #030303;
        width: 92%;
        .secondary-img {
            width: 83%;
            margin: 8.9%;
        }
    }
}