@import '/src/elements.scss';

.footer {
    background-color: $primary-color;
    width: 100vw;
}

.footer__wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 28px;
    @include mobile {
        margin-top: 32px;
        margin-bottom: 31.7px;
    }
    @include tablet {
        margin-top: 42px;
        margin-bottom: 41.5px;
    }
    @include desktop {
        margin-top: 50px;
        margin-bottom: 49px;
    }
}

.footer__logo {
    margin-bottom: 10px;
}