@import '/src/elements.scss';

.shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    @include mobile {
        margin-bottom: 90px;
    }
    @include tablet {
        margin-bottom: 95px;
    }
    @include desktop {
        margin-bottom: 100px;
    }
    .line {
        width: 100%;
        max-width: 1200px;
        border: solid $primary-color 0.1px;
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: 30px;
        }
        @include tablet {
            margin-bottom: 34px;
        }
        @include desktop {
            margin-bottom: 40px;
        }
    }
    .shop-section__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        @include mobile {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            max-width: 600px;
        }
        @include tablet {
            max-width: 960px;
        }
        @include desktop {
            max-width: 1200px;
        }
        .shop-section__item {
            text-decoration: none;
            width: 100%;
            max-width: 380px;
            @include mobile {
                margin-right: 40px;
                width: calc(50% - 20px);
                &:nth-child(2n + 2) {
                    margin-right: 0;
                }
            }
            @include tablet {
                width: calc(31.6%);
                margin-right: 24px;
                &:nth-child(2n + 2) {
                    margin-right: 24px;
                }
                &:nth-child(3n+3) {
                    margin-right: 0;
                }
            }
            @include desktop {
                width: 100%;
                margin-right: 30px;
            }
            .item__photo {
                display: block;
                height: auto;
                width: 100%;
            }
            .item__title {
                margin: 0px;
                margin-bottom: 6px;
                margin-top: 20px;
            }
            .item__price {
                margin: 0px;
                margin-bottom: 34px;
                opacity: 0.6;
            }
        }
    }
    .btn {
        width: 300px;
        height: 60px;
        @include mobile {
            width: 232px;
            height: 62px;
        }
        @include tablet {
            width: 240px;
            height: 64px;
        }
    }
}

